<div style="text-align:center" class="vc">
  <h1><p class='title'>Uncrypt with Jocellin!</p></h1>

  <div class="play" onclick="window.open('https://www.youtube.com/channel/UCZVcTjERAAAzbKh2mG4iZ9g','new_window');">
  </div>



  <p class='content'>
   Hello! This is Uncrypt with <a href="https://www.facebook.com/jocellin.lee" target="_blank">Jocellin</a>!
  </p>

  <p class='elab'>
  Jocellin is ...
  </p>
  
</div>
